.faq-container {
  display: flex;
  gap: 40px;
  padding: 0 20px;
}

/* Menú lateral */
.faq-menu {
  flex: 0 0 220px;
}

@media (min-width:690px) {
  .faq-menu {
    flex: 0 0 220px;
  }
}
@media (max-width:690px) {
  .faq-menu {
    flex: 0 0 100px;
  }
  .faq-container  {
    padding: 0px;
    gap: 20px;
  }
}


.faq-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
}

.faq-menu li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.faq-menu li:hover,
.faq-menu li.active {
  background-color: #0077cc;
  color: #fff;
  font-weight: 500;
}

/* Contenido */
.faq-content {
  flex: 1;
}

.faq-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.faq-content p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #555;
}

/* FAQ items */
.faq-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.faq-item:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.faq-question {
  width: 100%;
  padding: 18px 25px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #0077cc;
}

.faq-answer {
  max-height: 0;
  overflow: auto;
  padding: 0 25px;
  background: #fafafa;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-answer p {
  margin: 15px 0;
  line-height: 1.6;
  color: #444;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  padding: 15px 25px;
}

.faq-icon {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
  transform: rotate(90deg);
}